.err{
  width: 400px;
  height: 40vh;
  background-color: #4C52AD;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.err:hover{
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}
