<div class="container">
  <div class="row">
    <div class="col">
      <form class="row g-3 needs-validation" novalidate #linkFrom="ngForm" (ngSubmit)="saveData(linkFrom)">
        <div class="col-md">
          <label  class="form-label text-white" for="link">Prefilled Form Link</label>
          <input class="form-control" type="url" name="link" id="link" required ngModel>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" [disabled]="linkFrom.invalid? !disableBtn : disableBtn" type="submit">Process</button>
        </div>
      </form>
    </div>
  </div>
</div>
